@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* variables define */
:root{
    --bg-color-dark: #101028;
    --bg-color-light: #292d4a;
    --font-color-light: #a9a9a9;
    --font-color-dark: #11333d;
    --primary-color: #22eba5;
    --warn-color: #dc3545;
}
*, *::after, *::before{
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    background-color: var(--bg-color-dark);
    color: #fff;
}
.container{
    max-width: 700px;
    margin: 0 auto;
}
/* @media (min-width: 992px){
html {
    font-size: 75%;
}
}
@media (min-width: 768px){
html {
    font-size: 70%;
}
}
@media (min-width: 576px){
html {
    font-size: 65%;
}
} */
/* Block-header */

.block__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1.5rem 2rem;
}
.btn{
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    margin: 1.2rem 0;
    outline: 0;
    padding: 1.2rem 2.4rem;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.5px;
}
.btn__primary{
    background: var(--primary-color);
    color:var(--bg-color-dark);
}
.header_brand{
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    cursor: default;
}
@media screen and (min-width:575px) {
    .block__header{
        padding: 1.8rem 2.4rem;
    }
    .header_brand{
        font-size: 3.7rem;
    }
}

/* Block-Form */
.block__form{
    padding: 1.8rem 3.6rem;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
}
.form-input label {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
}
.taskdetail{
    background: var(--bg-color-light);
    border-radius: 40px;
    border: 0;
    outline: 0;
    color: var(--font-color-light);
    padding: 1.2rem 1.8rem;
}
.input{
    font-size: 1.6rem;
}
.select{
    font-size: 1.5rem;
    /* Replace default styling (arrow) */
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23a9a9a9'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position-x: 97%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-color: var(--bg-color-light);
}
.btn--stretched{
    font-size: 1.6rem;
    margin-top: 2.4rem;
    width: 100%;
}
.requiredInput1, .requiredInput2{
    display: none;
    color: var(--warn-color);
    font-size: 1.2rem;
    position: relative;
    left: 1.8rem;
    margin: 12px 0 0 0;
    /* margin-bottom: 0; */
}

/* Block-Filter-Buttons */
.block {
    padding: 1.8rem 3.6rem;
}
.buttons {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:425px) {
    .buttons {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
.btn__outline {
    font-size: 1.4rem;
    background: var(--bg-color-dark);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn__outline:hover, button[active]{
    border: 0;
    background: var(--primary-color);
    color: var(--bg-color-dark);
}
#blockFilter{
    display: none;
}
/* Todo */
.icon{
    width: 2.16rem;
    height: 2.0rem;
    fill: var(--bg-color-dark); 
}
ul {
    padding-left: 0;
    margin: 1.2rem 0;
}
ul > li{
    list-style: none;
}
.todo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color-light);
    margin-bottom: 1.8rem;
    padding: 1.8rem;
    border-radius: 5px;
}
.todo-details {
    border-left: 2.5px solid #22eba5;
    border-left: 2.5px solid var(--primary-color);
    padding-left: 1.56rem;
    color: #fff;
    margin: 0;
}
.todo-task {
    font-size: 1.8rem;
    margin: 0;
}
.todo-priority {
    font-size: 1.4rem;
    margin-left: 0;
}
.todo-actions {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
}
.btn-round {
    padding: 1.2rem;
    border-radius: 100%;
    margin: 0;
}

/* add class & attribute through js */
.btn-disabled{
    pointer-events: none;
    opacity: .65;
    background: var(--font-color-light);
}
.lineThrough{
    text-decoration: line-through;
}