<section class="block__form">
    <form>
        <div class="form-input">
            <label for="Task">Todo</label>
            <input type="text" class="input" placeholder="Add Task" maxlength="100" name="Task">
        </div>
        <div class="form-input">
            <label for="Priority">Priority</label>
            <select name="Priority" class="select">
              <option value>Select Priority</option>
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
        </div>
        <button class="btn btn__primary btn--stretched">Add</button>
    </form>
</section>