<section class="block block__Todo">
    <ul class="Todo">
        <li class="todo-list">
            <div class="todo-details">
                <p class="todo-task">JavaScript</p>
                <p class="todo-priority">Low</p>
            </div>
            <div class="todo-actions">
                <button class="btn__primary btn btn-round">
                    <svg class="icon">
                        <use xlink:href="Images/icon.svg#iconmonstr-check-mark-1"></use>
                      </svg>
                </button>
                <button class="btn btn-round btn__primary">
                    <svg class="icon">
                        <use xlink:href="Images/icon.svg#iconmonstr-trash-can-24"></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
</section>